// Constants
$grade-select-size: 200px;
$cat-width: 20%;
$selected-category-color: #555;
$selected-activity-color: #555;

//Imports
@import url("https://fonts.googleapis.com/css?family=Quicksand");

// Mixins
@mixin flex-box {
  display: flex;
  display: -webkit-flex;
  display: -moz-flex;
}

@mixin vertical-flex {
  flex-direction: column;
  -webkit-flex-direction: column;
  -moz-flex-direction: column;
  @include flex-box;
}

@mixin flex-space-around {
  justify-content: space-around;
  -webkit-justify-content: space-around;
  -moz-justify-content: space-around;
  @include flex-box;
}

@mixin flex-space-between {
  justify-content: space-between;
  -webkit-justify-content: space-between;
  -moz-justify-content: space-between;
  @include flex-box;
}

html, body, #main {
  margin: 0;
  padding: 0;
  height: 100%;
  min-width: 768px;
}

body {
  font-family: 'Quicksand', sans-serif;
}

.app-container {
  background-image: url('/assets/grade_selection/Grade_Selection_UI_background.png');
  background-size: cover;
  height: 100%;
}

.grade-selection-title {
  text-align: center;
  padding-top: 120px;
  padding-bottom: 50px;
  img {
    max-width: 790px;
    width: 100%;
  }
}

.grade-btn-container {
  width: 100%;
  @include flex-space-around;
}

.grade-range-btn {
  width: 20%;
}

.grade-range-img {
  width: 100%;
}

.cat-row {
  width: 100%;
  display: block;
  @include flex-space-around;
}

.cat-btn {
  width: $cat-width;
  text-align: center;
  border: 1px solid #000;
}

.selected-category {
  background-color: $selected-category-color;
}

.activity-view {
  display: inline-block;
  width: 100% - $cat-width;
}

.activity-list {
  float: right;
  width: $cat-width;
  padding: 0;
  @include vertical-flex;
}

.activity-item {
  list-style: none;
  cursor: pointer;
  border: 1px solid #000;
  width: $cat-width;
  text-align: center;
  height: 2.5em;
  vertical-align: center;
}

.selected-activity {
  background-color: $selected-activity-color;
}

.hidden {
  display: none;
}
