// Constants
$grade-select-size: 200px;
$cat-width: 20%;
$nav-bar-height: 100px;
$nav-grey: #f1f1f1;
$menu_spacing: 50px;
$selected-category-color: #555;
$selected-activity-color: #555;
$orange: #f9ab51;

//Imports
@import url("https://fonts.googleapis.com/css?family=Quicksand:300,400,700");

// Mixins
@mixin flex-box {
  display: flex;
  display: -webkit-flex;
  display: -moz-flex;
}

@mixin inline-flex {
  display: inline-flex;
  display: -webkit-inline-flex;
  display: -moz-inline-flex;
}

@mixin vertical-flex {
  flex-direction: column;
  -webkit-flex-direction: column;
  -moz-flex-direction: column;
}

@mixin flex-space-around {
  justify-content: space-around;
  -webkit-justify-content: space-around;
  -moz-justify-content: space-around;
}

@mixin flex-space-between {
  justify-content: space-between;
  -webkit-justify-content: space-between;
  -moz-justify-content: space-between;
}

@mixin flex-justify-end {
  justify-content: flex-end;
  -webkit-justify-content: flex-end;
  -moz-justify-content: flex-end;
}

@mixin flex-align-center {
  align-items: center;
  -webkit-align-items: center;
  -moz-align-items: center;
}

html, body, #main {
  margin: 0;
  padding: 0;
  height: 100%;
  min-width: 768px;
}

body {
  font-family: 'Quicksand', sans-serif;
  margin: 0;
  padding: 0;
}
.grade-selection-container, .app-container {
  background-size: cover;
  height: 100%;
}

.grade-selection-container {
  background-image: url('/assets/grade_selection/Grade_Selection_UI_background.png');
}

.app-container {
  background-image: url('/assets/category-choosing_bg.png');
}

// Navigation Menu Assets
.nav-container {
  height: $nav-bar-height;
  width: 100%;
  background-color: transparent;
  @include flex-justify-end;
  @include flex-align-center;
  @include flex-box;
}

.nav-btn {
  text-decoration: none;
  display: inline-block;
  margin-right: $menu_spacing;
  padding-bottom: 5px;
  font-size: 13px;
  color: white;
}

.selected-nav-btn {
  border-bottom: solid 3px;
  font-weight: bold;
}

.nav-menu-container {
  height: 48px;
  @include inline-flex;
  @include flex-align-center;

  &:hover {
    .nav-btn {
      color: $nav-grey;
      border-bottom: 0;
      font-weight: normal;

      &:hover {
        color: white;
        font-weight: bold;
      }
    }

    .selected-nav-btn:hover {
      border-bottom: solid 3px;
    }
  }
}

.login-img {
  height: 48px;
}

.login-btn{
  margin-right: 50px;
  @include inline-flex;
}

// Grade Selection Assets
.grade-selection-title {
  text-align: center;
  padding-top: 120px;
  padding-bottom: 50px;
  img {
    max-width: 790px;
    width: 100%;
  }
}

.grade-btn-container {
  width: 100%;
  @include flex-space-around;
  @include flex-box;
}

.grade-range-btn {
  width: 20%;
}

.grade-range-img {
  width: 100%;
}

// Category Menu Assets
.cat-row {
  width: 100%;
  display: block;
  @include flex-space-around;
  @include flex-box;
}

.cat-btn {
  // width: $cat-width;
  // min-width: 190px;
  min-width: 268px;
  width: 268px;
  height: 60px;
  line-height: 60px;
  border-radius: 29.88px;
  font-weight: bold;
  font-size: 22px;
  color: $orange;
  text-align: center;
  background-color: white;
  opacity: 0.5;
  text-decoration: none;

  &:hover {
    opacity: 1;
  }
}

.selected-category {
  background-color: $orange;
  color: white;
  opacity: 1;
}

// Activity List Assets
.activity-list {
  margin-top: 25px;
  width: 268px;
  // padding: 0;
  @include vertical-flex;
  @include inline-flex;
  @include flex-align-center;
}

.activity-item {
  cursor: pointer;
  text-decoration: none;
  font-size: 30px;
  line-height: 30px;
  color: white;

  &:hover {
    border-bottom: 2px solid white;
  }
}

.selected-activity {
  font-weight: bold;
}

// Activity Screen Assets
.activity-view {
  display: inline-block;
  background-color: white;
  opacity: 0.8;
  width: 903px;
  // width: 100% - $cat-width;
  height: 439px;
  border-radius: 15px;
}

.activity-frame {
  border: 0;
  width: 100%;
  height: 450px;
}

.hidden {
  display: none;
}
